<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<div class="container">
  <div>
    <table>
      <thead>
        <tr>
          <th>#id</th>
          <th>이름</th>
        </tr>
      </thead>
      <tbody>
      <!-- th:each 는 루프를 돌면서 로직을 실행 -->
      <tr th:each="member : ${members}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- finish container -->

</body>
</html>